- @projects.each do |project|
  .container.proto-list
    .row
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to image_tag(image_tag project.project_images[0]), ''
          .caption
            %h3
              = project.title
            .proto-meta
              .proto-user
                = link_to project.user.name, '#'
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                = link_to "iPad", '#', class: "btn btn-default"
              %li
                = link_to "wireframe", '#', class: "btn btn-default"
