- @projects.each do |project|
  .container.proto-list
    .row
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          .dropdown.drop_menu_location
            - if user_signed_in? && current_user.id == project.user_id
              %button.btn.btn-default.dropdown-toggle action
              %ul.dropdown-menu, aria: {labelledby: "dropdownMenu1"}
              %li
                = link_to 'Delete', project_path(project.id), method: :delete
              %li
                = link_to 'Edit', edit_project_path(project.id)
          = link_to  project_path(project.id) do
            = image_tag(project.project_images.main.first.image)
          .caption
            %h3
              = project.title
            .proto-meta
              .proto-user
                = link_to "by #{project.user.name}", '#'
              .proto-posted
                Apr 26
          %ul.proto-tag-list.list-inline
            %li
              = link_to "iPad", '#', class: "btn btn-default"
            %li
              = link_to "wireframe", '#', class: "btn btn-default"
