.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to '#' do
            = image_tag(@project.user.avator, alt: "64x64", data: {holder: {rendered: "true"}}, data:{src: "holder.js/64x64"}, style: "width: 64px; height: 64px;", class: "media-object")
        .media-body
          %h4#top-aligned-media.media-heading
            Top aligned media
          .proto-user
            %a{href: ""}="by #{@project.user.name}"
            %span.degree= @project.user.member + @project.user.job
    .col-md-6.text-right
    #like-buttons
      = render partial: 'likes/like', locals: {project: @project, like: @like, likes: @likes}
  .row
    .col-md-9
      = image_tag(@project.project_images.main.first.image, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        %li.list-group-item
          = image_tag(@project.project_images.sub.first.image, class: 'img-responsive')
        %li.list-group-item
          = image_tag(@project.project_images.sub.second.image, class: 'img-responsive')
        %li.list-group-item
          = image_tag("sample.png", class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @project.catch_copy
    .col-md-6
      %h4 Concept
      %p= @project.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe

  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num= "(#{@comments.count})"
    #comment_box
      = render @comments

  - if user_signed_in?
    .col-md-8
      = form_for [@project, @comment], html: {class: 'form-inline'}, remote: true do |f|
        %h4 Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :text, placeholder: "Your comments", rows: "3", class: 'form-control'
          .form-group.col-md-2
            = f.submit 'Comment', class: 'btn btn-primary'
